#logoaccueil{
    width: 200px;
    color: red;
    display: inline;
    margin-left: 30px;
    
}
#tout{
    color: rgb(1, 1, 8);
    font-size: 30px;
    font-style: bold;
  display:inline;
  margin-left: 600px;
  margin-top: 20px;
  
}
#firstlink{
   padding: 1em;
   border: 1px solid ;
   background-color: black;
    font-size: 20px;
    width:auto;
    text-align: start;
    margin-left: 40px;
}
#fon{
    padding: 0.1em;
    
    color: white;
   
 font-display: 20px;
}
#fon1{
    padding: 0.1em;
    
    color: white;
   
 font-display: 20px;
}
#fon2{
    padding: 0.1em;
    
    color: white;
   
 font-display: 20px;
}
#accueilimg{
    margin-left: 40px;
    width: 1850px;

}
#lentreprise{

margin-left: 40px;
}

#lastlink{
padding: 1em;
border: 2px;
background-color: black;
width: auto;
height: 30;
margin-left: 40px;
}
#plan{
    color: white;
}
#plan1{
    color: white;
}
#plan2{
    color: white;
}
#colonnedroite{
    text-align: left;
    font-size: 20px;
   position:-ms-page left ;
position: absolute;
margin-left: 1375px;
margin-top: -10px;
float:inline-start;
width: 500px;
height: 430px;
  border: 2px solid gray;
  font-family: verdana;
  background-color:gray;
  padding-left: 10px;
}
#line{
max-width:initial;
float:none;
 
}
#tex{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique italic;
}

#tex1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique italic;
}

#tex2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique italic;
}